---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';

// data
import devices from '../../data/devices.js';

// components import 
import DeviceBuySection from '../../components/blocks/DevicesBuySection.astro';

// images
import EMonitorImage from "../../assets/images/hardware-2025/energy-monitor-nobg.webp";

// Filter products to get the current one
const eMonitor = devices.products.filter(product => product.code === 'energy-monitor');
---


<Layout 
  title={eMonitor[0].title} 
  description="A non-invasive device for installation in electrical panels with DIN rail mounting. Built on the Espressif ESP32C6 chip with open RISC-V architecture."
  ogImage="/og-pics/devices-e-monitor.webp"
  pageTitle={eMonitor[0].title} 
  backlink={{title: 'All hardware', link: '/devices/', label: 'Go to all hardware'}}
>

  <DeviceBuySection price="$45">
    <Image src={EMonitorImage} alt={'Energy Monitor picture'}/>
  </DeviceBuySection>


  <article class="layout layout__text space-b-2">
    <p><b>A non-invasive </b> device for installation in electrical panels with DIN rail mounting. Built on the Espressif ESP32C6 chip with open RISC-V architecture. </p>
    <p><b>Equipped</b> with USB-C, <b>supports</b> WiFi and Zigbee. Records electricity consumption and generation data in the Polkadot network at 10-minute intervals.</p>
  </article>


  <h2 class="layout title-lined"><span>Device Specifications</span></h2>

  <article class="layout layout__text space-b-2">
    <ul>
      <li> <b>Input Voltage:</b> AC 100-240V 50/60Hz</li>
      <li><b>Measuring Range: </b> 0.1-80A</li>
      <li> <b>Wireless Protocol: </b> IEEE 802.11b/g/n (2.4 GHz Wi-Fi)</li>
      <li><b>CPU: </b> ESP32-S3 MCU-based system on a chip (SoC) dual-core microprocessor (Xtensa 32-bit LX7), up to 240 MHz</li>
      <li><b>Memory: </b> 448 KB ROM, 520 KB SRAM, 8 MB FLASH
      </li>
      <li><b>USB-C </b> for development and updates </li>
    </ul>
  </article>

  <h2 class="layout title-lined"><span>Help & support </span></h2>
  <article class="layout layout__text space-b-2">
    <ul>
      <li>To configure the device, please visit: <a class="highlight" href="https://tasmota.github.io/docs/MQTT/" target="_blank">https://tasmota.github.io/docs/MQTT/</a></li>
    </ul>
  </article>
</Layout>

<style>
  img {
    height: 80%;
  }
</style>