---
import Layout from '../../layouts/Layout.astro';

// data
import devices from '../../data/devices.js';

// components import 
import DeviceBuySection from '../../components/blocks/DevicesBuySection.astro';
import RiscVModel from '../../components/3dmodels/Server.astro';

// images

// Filter products to get the current one
const riscv = devices.products.filter(product => product.code === 'server');
---


<Layout 
  title={riscv[0].title} 
  description="The first server for a smart home built entirely on open-source — from CPU to decentralized cloud."
  ogImage="/og-pics/devices-riscv.webp"
  pageTitle={riscv[0].title} 
  backlink={{title: 'All hardware', link: '/devices/', label: 'Go to all hardware'}}
>

  <DeviceBuySection price="$275">
    <RiscVModel noanimation />
  </DeviceBuySection>

  <article class="layout layout__text space-b-2">
    <p>Take control of your smart home data with open-source home server on RISC-V processor and Web3 connectivity.</p>
    <p>Experience the power of true DePIN (Decentralized Physical Infrastructure Network) — a revolutionary technological movement brought to life and thriving for years on our <a aria-label="go to decentralized sensor map" href="https://sensors.social/" target="_blank">decentralized sensor map</a>.</p>
  </article>

  <article class="layout space-b-2">
    <div class="grid-3">
      <section class="oldy">
        <h5 class="space-b-05">Surveillance-free</h5>
        <p>No hidden data logs on corporate servers while still allowing secure remote access.</p>
      </section>
      <section class="oldy">
        <h5 class="space-b-05">No vendor lock-in</h5>
        <p>Supports over 3000 integrations with devices from various manufacturers.</p>
      </section>
      <section class="oldy">
        <h5 class="space-b-05">Open hardware</h5>
        <p>Open processor architecture and open-source code ensure a trustless system.</p>
      </section>
    </div>
  </article>


  <h2 class="layout title-lined"><span>Open and efficient hardware</span></h2>

  <article class="layout layout__text space-b-2">
    <p>Our Home Server is powered by a RISC-V processor and features fully transparent circuit board schematics. RISC-V is an open and modular processor architecture that comes with a BSD license. Unlike proprietary ARM, it offers flexibility for customization without licensing restrictions, making it ideal for trustless IoT devices and servers.</p>
    <ul>
        <li>Processor: </b> StarFive JH-7110 with RISC-V 4-core CPU, 2 MB L2 cache, up to 1.5 GHz, RV64GC ISA support</li>
        <li><b>GPU:</b> IMG BXE-4-32 MC1, up to 600 MHz</li>
        <li><b>Memory:</b> 8 GB LPDDR4 SDRAM, up to 2800 Mbps</li>
        <li><b>Storage:</b> 32 GB TF card (minimum)</li>
        <li><b>Interfaces:</b> 2x Gigabit Ethernet ports, 4x USB 3.0 Type-A ports, 40-pin GPIO header, M.2 connector,  eMMC socket, 2-pin fan header</li>
        <li><b>Power:</b> 5V DC via USB-C, up to 30 W (minimum 3 A) or 5V input via 40-pin GPIO</li>
        <li><b>OS:</b> Ubuntu 24.04 LTS</li>
      </ul>
  </article>

  <h2 class="layout title-lined"><span>Vendor agnostic smart home heart</span></h2>

  <article class="layout layout__text space-b-2">
    <p>The server comes pre-installed with Home Assistant, an open-source home automation platform, giving you full control of your smart home without relying on third-party cloud services.</p>
    <p>Its modular design allows you to easily add components, automations, and integrations, supporting over 3,000 devices from various manufacturers without vendor lock-in. With support for Zigbee and Wi-Fi protocols, you can connect a wide range of devices, from temperature sensors to energy consumption monitors, all to a local server.</p>
  </article>

  <h2 class="layout title-lined"><span>Designed for privacy</span></h2>
  
  <article class="layout layout__text space-b-2">
    <p>Our smart home server eliminates corporate interference, keeping your data local or encrypted with your personal key in decentralized Web3 storage. Enjoy complete privacy with no tracking, no surveillance—just secure, trustless control over your smart home.</p>

    <p>With Robonomics Web3 cloud and p2p remote control, you get cryptographic access to all the functions of smart home:</p>
    <ul>
      <li>Access current device states remotely</li>
      <li>Control devices remotely via parachain or Libp2p</li>
      <li>Manage Home Assistant users</li>
      <li>Back up and restore Home Assistant configurations</li>
      <li>Store your home's digital twin in a secure, decentralized cloud</li>
    </ul>
  </article>

  <h2 class="layout title-lined"><span>Help & support</span></h2>
  <article class="layout layout__text space-b-2">
    <ul>
      <li><a class="highlight" href="https://wiki.robonomics.network/docs/home-server-on-risc/#ubuntu-installation" target="_blank">Home server on RISC V</a></li>
      <li><a class="highlight" href="https://wiki.robonomics.network/docs/home-server-on-risc/#home-assistant-core-installation" target="_blank">Home Assistant Core Installation</a></li>
      <li><a class="highlight" href="https://wiki.robonomics.network/docs/home-server-on-risc/#robonomics-integration-installation" target="_blank">Robonomics Integration Installation</a></li>
      <li><a class="highlight" href="https://wiki.robonomics.network/docs/zigbee-devices/" target="_blank">Zigbee Devices in Zigbee2MQTT</a></li>
    </ul>
  </article>
</Layout>