---
import TextCard from '../TextCard.astro'
---
<div style="margin-top: calc(var(--space) * 2)">
  <TextCard icon="/icons/icon-future.png" >

    <h3>Dotsama for robots program initiated</h3>
  
    Head over to the <a href="/kusama-slot/" aria-label="check our kusama slot page">Robonomics Kusama slot page</a> to know more! 🦾
  
  </TextCard>
</div>
