---
// components
import Layout from '../../../layouts/Layout.astro';
import PostCard from '../../../components/post/PostCard.astro';

// data
export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('/src/blog/**/*.{md,mdx}', { eager: true }));

  const uniqueTags = [
    ...new Set(
      allPosts
        .map((post: any) => post.frontmatter.tags)
        .flat()
        .map((tag: string) => tag.toLowerCase()) // Convert each tag to lowercase
    ),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags.map((t: string) => t.toLowerCase()).includes(tag.toLowerCase())
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  })
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout
  title={`Robonomics blog, ${tag}`}
  pageImage = "/website_cover_blogs.jpg"
>

  <section class="layout blog_grid">
    {posts.map((post: any) => <PostCard post={{...post.frontmatter, url: post.url}}/>)}
  </section>

</Layout>